body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --- Questions --- */

.ques {
  background-color: white;
  color: black;
}

/* ---- SidebarNav --- */

.wrapper {
  display: flex;
  position: fixed;
  float: right;
  width: 250px;
  height: 100%;
  background-color: black;
  
  
}


.nav-links {
  color: #c21414;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;

}

.navBrand {
  margin: 10px 30px 20px 20px;
  font-family: 'Fugaz One', cursive;
  
  
}

.navBrand, h1 {
  color: white;
}

li {
  list-style: none;
}